In [1]:
#question no.1
import re
i=re.sub(r"\s",":","Python Exercises, PHP exercises.")
i
j=re.sub(r"\,",":",i)
j
k=re.sub(r".$",":",j)
k

'Python:Exercises::PHP:exercises:'

In [2]:
#question no.2

import pandas as pd
dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dictionary)
df=df.replace('[^a-z]',' ',regex=True)
df

                  SUMMARY
0           hello  world
1                    test
2     four  five   six

In [5]:
#question no.3

import re

def find_words(string):
    pattern = re.compile(r'\w{4}')
    return pattern.findall(string)

In [6]:
string = 'i love india and i am proud of it'
find_words(string)

['love', 'indi', 'prou']

In [7]:
#question no.4
import re

def find_words(string):
    pattern = re.compile(r'(\b\w{3,5}\b)')
    return pattern.findall(string)

In [43]:
string = 'i love india and i am proud of it'
find_words(string)

['love', 'india', 'and', 'proud']

In [9]:
#Question no.5

def para(t):
  
  pt = re.compile(r"[()]")
  
  for string in t:
    
    n = pt.sub("", string)
    print(n)
    print('\n')

    
  
  return n
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(para(sample_text))

example .com


hr@fliprobo .com


github .com


Hello Data Science World


Data Scientist


Data Scientist

In [10]:
#another coding for Q.5
import re

def para(t):
  
  pt = re.compile(r"[()]")
  
  x = []
  
  for i in t:
    
    n = pt.sub("", i)
    
    x.append(n)
  
  return x
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(para(sample_text))

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [11]:
#question no.6

import re

import pandas as pd
mydata = pd.read_csv("file1.txt")
mydata

with open("file1.txt", "r") as f:
    
    content = f.read()
    
    result = re.sub(r"\([^)]*\)", "", content)
    
    print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [12]:
#question no.7
import re
string = 'ImportanceOfRegularExpressionsInPython'

pattern = re.findall('[A-Z][^A-Z]*', string)
print(pattern)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [13]:
#question no.8

def prct(text):
  
  output = ""
  
  for num, char in enumerate(text):
    
    if char.isdigit() and num > 0:
      
      output += " " + char
    
    else:
      output += char
  
  return output


smpltext = "RegularExpression1IsAn2ImportantTopic3InPython"
print( prct(smpltext))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [14]:
# Question no.9
def givespace(text):
  
  m = ""
  
  for i, char in enumerate(text):
    
    if char.isupper() or char.isdigit():
      
      if i > 0:
        
        m += " "
    
    m += char
  
  return m


stext = "RegularExpression1IsAn2ImportantTopic3InPython"
print(givespace(stext))

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [15]:
#question no.10

import pandas as pd
url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [16]:
# continue to question no.10
df["first_five_letters"] = df["Country"].str[:6]
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [17]:
# Question no.11
import re
string= "India_is_number_1"
pattern = r'^[a-zA-Z0-9_]*$'
result=re.search(pattern,string)
print(result)

<re.Match object; span=(0, 17), match='India_is_number_1'>

In [18]:
#another code for question no.11
import re

def matched(text):
    pattern = r'^[a-zA-Z0-9_]*$'
    if re.search(pattern, text):
        return 'The string matches the pattern!'
    else:
        return 'The string does not match the pattern.'

print(matched("India_is_number_1")) 
print(matched("India is number 1"))

The string matches the pattern!
The string does not match the pattern.

In [19]:
# Question no.12
import re

def start_with_num(string):
    
    pattern = re.compile("^\d")
    
    match = pattern.match(string)
    
    if match:
        return True
    else:
        return False

print(start_with_num("5-2345861")) 
print(start_with_num("6-2345861")) 
print(start_with_num("Hello"))

True
True
False

In [20]:
# Question no.13
def removingzeros(ipadd):
  
  parts = ipadd.split(".")
  
  parts = [str(int(part)) for part in parts]
  
  ipaddress = ".".join(parts)
  
  return ipaddress


print(removingzeros("0900.05.02.00550")) # Output: 10.0.2.20

900.5.2.550

In [21]:
#Question no.14
import re


with open("file2.txt", "r") as f:
    
    text = f.read()
    
    pattern = r"\b(January|February|March|April|May|June|July|August|September|October|November|December)(\s\d{1,2})(st|nd|rd|th)(\s+\d{4})\b"
    
    matches = re.findall(pattern, text)
    
    for match in matches:
        
        date = " ".join(match)
        
        print(date)

August  15 th  1947

In [22]:
#Question no.15
text = 'The quick brown fox jumps over the lazy dog.'
words = ['fox', 'dog', 'horse']

for word in words:
    if word in text:
         print(f'{word} found at index {text.index(word)}')
    else:
         print(f'{word} not found in the text')

fox found at index 16
dog found at index 40
horse not found in the text

In [23]:
# Question no.16
text = 'The quick brown fox jumps over the lazy dog.'
words = ['fox']

for word in words:
    if word in text:
         print(f'{word} found at index {text.index(word)}')

fox found at index 16

In [24]:
#another code for question 16
import re
text = 'The quick brown fox jumps over the lazy dog.'
pattern=re.search("fox",text)
print(pattern)

<re.Match object; span=(16, 19), match='fox'>

In [25]:
# Question 17
import re

text = "Python exercises, PHP exercises, C# exercises"
pattern = "exercises"

for match in re.finditer(pattern, text, re.IGNORECASE):
    start_index = match.start()
    end_index = match.end()
    print(f"Found \"{text[start_index:end_index]}\" at {start_index}:{end_index}")

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [28]:
# Question 18
import re

text = "india is a country in South Asia. It is the seventh-largest country by area;"
pattern = "is"

for match in re.finditer(pattern, text, re.IGNORECASE):
    start_index = match.start()
    end_index = match.end()
    print(f"Found \"{text[start_index:end_index]}\" at {start_index}:{end_index}")

Found "is" at 6:8
Found "is" at 37:39

In [29]:
#Question no.19
def date_format(date):
  
  date_list = date.split("-")
  date_list.reverse()
  new_date = "-".join(date_list)
  return new_date
print(date_format("2024-01-09"))

09-01-2024

In [30]:
# Question no.20
import re

def decimal_point(text1):
  
  pattern = re.compile(r"\d+\.\d{1,2}")
  
  return pattern.findall(text1)

In [31]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(decimal_point(sample_text))

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [32]:
#Question no.21
import re
string= "I have 123 bananas and 456 mangoes"
for i in re.finditer("\d+",string):
    print(i.group(0))
    print("index position is:",i.start())

123
index position is: 7
456
index position is: 23

In [33]:
#Question no.22
import re
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = re.findall('\d+', sample_text)
pattern = map(int, pattern)
max_number = max(pattern)
print(max_number)

950

In [37]:
# Question no.23
def space(string):
  
  result = ""
  
  for i in string:
    
    if i.isupper() and result:
     
      result += " "
    
    result += i
  
  return result


sample_text = "RegularExpressionIsAnImportantTopicInPython"
print(space(sample_text))

Regular Expression Is An Important Topic In Python

In [38]:
#Question no.24
import re
sample_text = "Regular expression is An Important Topic in Python"
pattern=re.compile('[A-Z][a-z]+') 
result=pattern.findall(sample_text)
print(result)

['Regular', 'An', 'Important', 'Topic', 'Python']

In [39]:
#Question no. 25
import re
sample_text = "Hello hello world world"
pattern = r"\b(\w+)(\s+\1)+\b"
output_text = re.sub(pattern, r"\1", sample_text)


print(output_text)

Hello hello world

In [40]:
#Question no.26
import re

pattern = r".*\w$"

def check_string(string):
    if re.search(pattern, string):
        print("The string ends with an alphanumeric character")
    else:
        print("The string does not end with an alphanumeric character")

string1 = "My name is Robo"
string2 = "i am updated version!"

check_string(string1)
check_string(string2)

The string ends with an alphanumeric character
The string does not end with an alphanumeric character

In [41]:
#Question no.27
import re
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r"#\w+"
matches = re.findall(pattern, sample_text)
print(matches)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [42]:
#Question no.28
import re
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r"<U\+[0-9A-F]{4}>"
result = re.sub(pattern, "", text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [1]:
# Question no.29
import re
with open("sample.txt", "r") as f:
    t = f.read()
    pattern = r"\d{2}-\d{2}-\d{4}"
    dates = re.findall(pattern, t)
    print(dates)

['12-09-1992', '15-12-1999']

In [44]:
#Question no.30
import re

def remove_word(text):
    pattern = re.compile(r"\b\w{2,4}\b")
  
    result = pattern.sub("", text)
  
    return result.strip()

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [45]:
remove_word(text)

'following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'