In [48]:
#1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
#= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)Rank,B)Name
#C)Artist D)upload views E)views

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [49]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
driver.maximize_window()

In [50]:
# creating empty list for scraping the data
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [51]:
       
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos   #
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]'):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("-")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [53]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30

In [54]:
# creating DataFrame for scraped data
Wikipedia_table = pd.DataFrame({})
Wikipedia_table['Name'] = Name
Wikipedia_table['Artist'] = Artist
Wikipedia_table['Upload_date'] = Upload_date
Wikipedia_table['Views (in Billions)'] = Views

In [55]:
Wikipedia_table

,Name,Artist,Upload_date,Views (in Billions)
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

In [56]:
driver.close()

In [ ]:
#************************************************************************************************************************

In [57]:
#2. Scrape the details team India’s international fixtures from bcci.tv.
#Url = https://www.bcci.tv/. 
#You need to find following details:
#A) Series B) Place C) Date D) Time 

#Note: - From bcci.tv home page you have reach to the international fixture page through code. 

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [58]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url= "https://www.bcci.tv/."
driver.get(url)
driver.maximize_window()

In [59]:
button_fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
button_fixture.click()

In [60]:

# creating empty lists for scraping the data

Series = []
Place = []
Date = []
Time = []

try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append("-")

try:     
    for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append("-")
    
try:        
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text.replace('\n',' '))
except NoSuchElementException:
    Date.append("-")

try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text.replace('\n',' '))
except NoSuchElementException:
    Time.append("-")

In [61]:
print(len(Series),
len(Place),
len(Date),
len(Time))

6 6 6 6

In [62]:
Series

['ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [63]:
# creating data frame
df=pd.DataFrame({"Series": Series, "Place": Place,"Date": Date,"Time": Time})
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [64]:
driver.close()

In [ ]:
#***********************************************************************************************************

In [65]:
#3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ 
#You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices 
#E) Share(18-19) F) GDP($ billion) 
#Note: - From statisticstimes home page you have to reach to economy page through code. 

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [66]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url= "http://statisticstimes.com/"
driver.get(url)
driver.maximize_window()

In [67]:
#clicking ad opening economy-->india tab
click_economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

click_india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
click_economy.click()
click_india.click()

In [68]:
#clicking on GDP of indian states
click_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
click_gdp.click()

In [69]:
# creating empty list
Rank = []
State = []
GSDP1= []
GSDP2 = []
Share = []
GDP_billion = []

# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# scraping GSDP at current price (21-22)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# scraping GSDP at current price (22-23)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# scraping Share (21-22)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [70]:
print(len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP_billion))

66 66 66 66 66 66

In [71]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (21-22)'] = GSDP1
GDP['GSDP at current price (22-23)'] = GSDP2
GDP['Share (21-22)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (21-22),GSDP at current price (22-23),Share (21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","1,453,321",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","1,304,678",8.41%,265.024
3,4,Karnataka,"1,962,725","1,326,319",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
...,...,...,...,...,...,...
61,29,Arunachal Pradesh,"31,669","17,214",0.16%,-
62,30,Sikkim,"31,519","16,764",0.16%,"17,832"
63,31,Nagaland,"27,859","15,495",0.14%,-
64,32,Mizoram,"24,293","15,847",0.12%,-
65,33,Andaman & Nicobar Islands,"9,209","6,558",0.05%,-

In [72]:
driver.close()

In [ ]:
#*************************************************************************************************************************

In [73]:
#4. Scrape the details of trending repositories on Github.com. 
#Url = https://github.com/ 
#You have to find the following details: 
#A) Repository title , B) Repository description, C) Contributors count D) Language used 

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [74]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url = "https://github.com/" 
driver.get(url)
driver.maximize_window()

In [75]:
#clicking on open source and then trending option
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()
trend_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trend_btn.click()

In [76]:
# fetching 1st page of URLs of smartphone
urls = []
url = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    urls.append(i.get_attribute('href'))

In [77]:
urls

['https://github.com/layerdiffusion/sd-forge-layerdiffusion',
 'https://github.com/naver/dust3r',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/cooderl/wewe-rss',
 'https://github.com/ReVanced/revanced-manager',
 'https://github.com/AUTOMATIC1111/stable-diffusion-webui',
 'https://github.com/pydantic/FastUI',
 'https://github.com/iptv-org/iptv',
 'https://github.com/ente-io/ente',
 'https://github.com/vercel/ai',
 'https://github.com/bigcode-project/starcoder2',
 'https://github.com/adrianhajdin/brainwave',
 'https://github.com/microsoft/generative-ai-for-beginners',
 'https://github.com/microsoft/Security-101',
 'https://github.com/nodejs/nodejs.org',
 'https://github.com/Lissy93/web-check',
 'https://github.com/jafioti/luminal',
 'https://github.com/cloudcommunity/Free-Certifications',
 'https://github.com/allenai/OLMo',
 'https://github.com/microsoft/AI-For-Beginners',
 'https://github.com/alireza0/s-ui',
 'https://github.com/argmaxinc/WhisperKit',
 'https://github.com/memorysafety/river',
 'https://github.com/FuelLabs/fuel-core',
 'https://github.com/SerenityOS/serenity']

In [78]:
Repository_title = []
# scraping Repository title data
title = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in title:
    Repository_title.append(i.text)

In [79]:
Repository_title

['layerdiffusion / sd-forge-layerdiffusion',
 'naver / dust3r',
 'EbookFoundation / free-programming-books',
 'cooderl / wewe-rss',
 'ReVanced / revanced-manager',
 'AUTOMATIC1111 / stable-diffusion-webui',
 'pydantic / FastUI',
 'iptv-org / iptv',
 'ente-io / ente',
 'vercel / ai',
 'bigcode-project / starcoder2',
 'adrianhajdin / brainwave',
 'microsoft / generative-ai-for-beginners',
 'microsoft / Security-101',
 'nodejs / nodejs.org',
 'Lissy93 / web-check',
 'jafioti / luminal',
 'cloudcommunity / Free-Certifications',
 'allenai / OLMo',
 'microsoft / AI-For-Beginners',
 'alireza0 / s-ui',
 'argmaxinc / WhisperKit',
 'memorysafety / river',
 'FuelLabs / fuel-core',
 'SerenityOS / serenity']

In [80]:
#empty list

Repository_description = []
Contributors = []
Language_used = []

for i in urls:
    driver.get(i)
    
     #scraping Repository Description data 
    try:
        desc = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Repository_description.append(desc.text)
    except NoSuchElementException:
        Repository_description.append('-')
     
    #scraping contributors   
    try:
        contri = driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        Contributors.append(contri.text)
    except NoSuchElementException:
        Contributors.append('-')
    
    #scraping language used
    try:
        language = driver.find_element(By.XPATH,'//ul[@class="list-style-none"]')
        Language_used.append(language.text)
    except NoSuchElementException:
        Language_used.append('-')

In [81]:
print(len(Repository_title),len(Repository_description),len(Contributors),len(Language_used))

25 25 25 25

In [82]:
# lets dataframe
Trending_github = pd.DataFrame({})
Trending_github['Repository Title'] = Repository_title
Trending_github['Repository Description'] = Repository_description
Trending_github['Contributors Count'] = Contributors
Trending_github['Language Used'] = Language_used
Trending_github

,Repository Title,Repository Description,Contributors Count,Language Used
0,layerdiffusion / sd-forge-layerdiffusion,[WIP] Layer Diffusion for WebUI (via Forge),,Python\n100.0%
1,naver / dust3r,-,,Python\n100.0%
2,EbookFoundation / free-programming-books,📚 Freely available programming books,"2,857",-
3,cooderl / wewe-rss,🤗更优雅的微信公众号订阅方式，支持私有化部署、微信公众号RSS生成（基于微信读书）。,2,wewe-rss-server\nwewe-rss-web
4,ReVanced / revanced-manager,💊 Application to use ReVanced on Android,51,
5,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,,Python\n87.0%\nJavaScript\n8.8%\nCSS\n2.2%\nHT...
6,pydantic / FastUI,Build better UIs faster.,26,Python\n51.8%\nTypeScript\n45.8%\nSCSS\n1.1%\n...
7,iptv-org / iptv,Collection of publicly available IPTV channels...,261,
8,ente-io / ente,"Fully open source, End to End Encrypted altern...",34,TypeScript\n54.6%\nDart\n31.3%\nGo\n9.9%\nHTML...
9,vercel / ai,"Build AI-powered applications with React, Svel...",,TypeScript\n99.0%\nOther\n1.0%
10,bigcode-project / starcoder2,Home of StarCoder2!,,Python\n100.0%
11,adrianhajdin / brainwave,Learn to create modern websites with sleek par...,-,JavaScript\n97.4%\nCSS\n2.0%\nHTML\n0.6%
12,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",50,Jupyter Notebook\n85.0%\nPython\n11.2%\nTypeSc...
13,microsoft / Security-101,"7 Lessons, Kick-start Your Cybersecurity Learn...",,-
14,nodejs / nodejs.org,The Node.js® Website,,TypeScript\n70.6%\nJavaScript\n19.1%\nCSS\n6.0...
15,Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,1,web-check
16,jafioti / luminal,Deep learning at the speed of light.,,Rust\n92.3%\nC++\n4.6%\nMetal\n2.9%\nOther\n0.2%
17,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,69,
18,allenai / OLMo,"Modeling, training, eval, and inference code f...",1,llm-lumi
19,microsoft / AI-For-Beginners,"12 Weeks, 24 Lessons, AI for All!",,Jupyter Notebook\n99.8%\nPython\n0.1%\nHTML\n0...
20,alireza0 / s-ui,An advanced Web Panel • Built for SagerNet/Sin...,1,s-ui
21,argmaxinc / WhisperKit,Swift native on-device speech recognition with...,6,Swift\n99.0%\nMakefile\n1.0%
22,memorysafety / river,This repository is the future home of the Rive...,2,-
23,FuelLabs / fuel-core,Rust full node implementation of the Fuel v2 p...,9,fuel-core\nfuel-core-e2e-client\nfuel-core-debug
24,SerenityOS / serenity,The Serenity Operating System 🐞,"1,006",

In [83]:
driver.close()

In [ ]:
#************************************************************************************************************************

In [84]:
#5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
#following details: 
#A) Song name, B) Artist name,C) Last week rank D) Peak rank E) Weeks on board 
 
#Note: - From the home page you have to click on the charts option then hot 100-page link through code. 

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [85]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url = "https:/www.billboard.com/" 
driver.get(url)
driver.maximize_window()

In [86]:
charts_btn=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_btn.click()

In [88]:
view_chart_btn=driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]')
view_chart_btn.click()

In [89]:
Song=[]
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//li//h3'):
    Song.append(i.text)

In [90]:
Song

["Texas Hold 'Em",
 'Lovin On Me',
 'Lose Control',
 'Carnival',
 'Beautiful Things',
 'Snooze',
 'Cruel Summer',
 'Greedy',
 'I Remember Everything',
 'Agora Hills',
 'Yes, And?',
 'Stick Season',
 'Fast Car',
 'Water',
 'Last Night',
 'Redrum',
 "Thinkin' Bout Me",
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Pretty Little Poison',
 'Flowers',
 'Paint The Town Red',
 'Houdini',
 'Made For Me',
 'Never Lose Me',
 'La Diabla',
 'Where The Wild Things Are',
 'Training Season',
 'The Painter',
 'Feather',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'Whatever She Wants',
 'Truck Bed',
 'Selfish',
 'Everybody',
 'Vampire',
 'Wild Ones',
 'On My Mama',
 'Praise Jah In The Moonlight',
 'Save Me',
 'Exes',
 'Breathe',
 'Dance The Night',
 'Need A Favor',
 'Surround Sound',
 'World On Fire',
 'Yeah!',
 'Burn It Down',
 'Good Good',
 'La Victima',
 'End Of Beginning',
 'Get In With Me',
 'Burn',
 'Man Made A Bar',
 '16 Carriages',
 'First Person Shooter',
 'Fuk Sumn',
 'One Of The Girls',
 'Back To Me',
 'One Call',
 'Contigo',
 '23',
 'Murder On The Dancefloor',
 'You Broke My Heart',
 'Think U The Shit (Fart)',
 'FTCU',
 'FE!N',
 'Hiss',
 'I Can Feel It',
 'Bandit',
 'Spin You Around (1/24)',
 'Soak City',
 'Forever',
 "Mamaw's House",
 'Act II: Date @ 8',
 'Igual Que Un Angel',
 'Nee-nah',
 'Wildflowers And Wild Horses',
 'Bellakeo',
 'Harley Quinn',
 'Standing Next To You',
 'Bittersweet',
 'IDGAF',
 'Home',
 'Vultures',
 'Yeah Glo!',
 'Coal',
 'Mmhmm',
 'Psycho CEO',
 'Perro Negro',
 'Sensational',
 'Oklahoma Smokeshow',
 'Tu Name',
 'Do It',
 'Worth It',
 'Talking',
 'Monaco',
 'Where It Ends',
 'Wondering Why',
 'Northern Attitude']

In [91]:
j= driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')
j.text

'Beyonce'

In [92]:
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Week_on_board=[]



try:
    Artist_name.append(j.text)
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append("-")  
try:   
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append("-")  

try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append("-")  

try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]'):
        Week_on_board.append(i.text)
except NoSuchElementException:
    Week_on_board.append("-")

In [93]:
print(len(Song), len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Week_on_board))

100 100 100 100 100

In [94]:
Artist_name

['Beyonce',
 'Jack Harlow',
 'Teddy Swims',
 '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Benson Boone',
 'SZA',
 'Taylor Swift',
 'Tate McRae',
 'Zach Bryan Featuring Kacey Musgraves',
 'Doja Cat',
 'Ariana Grande',
 'Noah Kahan',
 'Luke Combs',
 'Tyla',
 'Morgan Wallen',
 '21 Savage',
 'Morgan Wallen',
 'Taylor Swift',
 'Warren Zeiders',
 'Miley Cyrus',
 'Doja Cat',
 'Dua Lipa',
 'Muni Long',
 'Flo Milli',
 'Xavi',
 'Luke Combs',
 'Dua Lipa',
 'Cody Johnson',
 'Sabrina Carpenter',
 'Billie Eilish',
 'Drake Featuring Sexyy Red & SZA',
 'Bryson Tiller',
 'HARDY',
 'Justin Timberlake',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'Olivia Rodrigo',
 'Jessie Murph & Jelly Roll',
 'Victoria Monet',
 'YG Marley',
 'Jelly Roll With Lainey Wilson',
 'Tate McRae',
 'Yeat',
 'Dua Lipa',
 'Jelly Roll',
 'JID Featuring 21 Savage & Baby Tate',
 'Nate Smith',
 'Usher Featuring Lil Jon & Ludacris',
 'Parker McCollum',
 'Usher, Summer Walker & 21 Savage',
 'Xavi',
 'Djo',
 'BossMan Dlow',
 '¥$: Kanye West & Ty Dolla $ign',
 'Morgan Wallen Featuring Eric Church',
 'Beyonce',
 'Drake Featuring J. Cole',
 '¥$: Kanye West & Ty Dolla $ign',
 'The Weeknd, Jennie & Lily Rose Depp',
 '¥$: Kanye West & Ty Dolla $ign',
 'Rich Amiri',
 'Karol G & Tiesto',
 'Chayce Beckham',
 'Sophie Ellis-Bextor',
 'Drake',
 'Ice Spice',
 'Nicki Minaj',
 'Travis Scott Featuring Playboi Carti',
 'Megan Thee Stallion',
 'Kane Brown',
 'Don Toliver',
 'Morgan Wallen',
 '310babii',
 'Noah Kahan',
 'Thomas Rhett Featuring Morgan Wallen',
 '4Batz',
 'Kali Uchis & Peso Pluma',
 '21 Savage, Travis Scott & Metro Boomin',
 'Lainey Wilson',
 'Peso Pluma & Anitta',
 'Fuerza Regida & Marshmello',
 'Jung Kook',
 'Gunna',
 'Drake Featuring Yeat',
 'Good Neighbours',
 '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J',
 'GloRilla',
 'Dylan Gossett',
 'BigXthaPlug',
 'Yeat',
 'Bad Bunny & Feid',
 'Chris Brown Featuring Davido & Lojay',
 'Zach Bryan',
 'Fuerza Regida',
 '¥$: Kanye West & Ty Dolla $ign',
 'Offset & Don Toliver',
 '¥$: Kanye West & Ty Dolla $ign Featuring North West',
 'Bad Bunny',
 'Bailey Zimmerman',
 'The Red Clay Strays',
 'Noah Kahan With Hozier']

In [95]:
# creating dataframe for scraped data
df_bilboard = pd.DataFrame({})
df_bilboard['Name'] = Song
df_bilboard['Artist'] = Artist_name
df_bilboard['Last Week Rank'] = Last_week_rank
df_bilboard['Peak Rank'] = Peak_rank
df_bilboard['Weeks on board'] = Week_on_board
df_bilboard

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [96]:
driver.close()

In [ ]:
#**************************************************************************************************************************

In [99]:
#6. Scrape the details of Highest selling novels.
#A) Book name B) Author name C) Volumes sold D) Publisher E) Genre 
# Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare


import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [100]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare" 
driver.get(url)
driver.maximize_window()

In [101]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []


# scraping book names data
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append("-")  

    
# scraping author names data
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append("-")  


# scraping data of volumes sold
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volume_sold.append("-")  

    
# scraping data of publisher names
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("-")  
    
    
# scraping  data of genre
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
        Genre.append(i.text)    
except NoSuchElementException:
    Genre.append("-")

In [102]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [103]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [104]:
driver.close()

In [ ]:
#*************************************************************************************************************************

In [105]:
#Q 7.Scrape the details most watched tv series of all time from imdb.com. 
#Url = https://www.imdb.com/list/ls095964455/ You have 
#to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [106]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url = "https://www.imdb.com/list/ls512407256/" 
driver.get(url)
driver.maximize_window()

In [107]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

# scraped data of Names
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a'):
        Name.append(i.text)
except NoSuchElementException:
       Name.append("-")  

    
    
# scraped data of Year span
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
        Year_span.append("-")  

    
    
# scraped data of Genre
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
        Genre.append("-")  

    
    
# scraped data of Run time
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
        Run_time.append("-")  

        
# scraped data of Ratings
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]'):
        Ratings.append(i.text)
except NoSuchElementException:
       Rating.append("-")  
    
    
# scraped data of Votes
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Votes.append(i.text) 
except NoSuchElementException:
       Votes.append("-")

In [108]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [109]:
# creating dataframe for scraped data
Series = pd.DataFrame({})
Series['Name'] = Name
Series['Year Span'] = Year_span
Series['Genre'] = Genre
Series['Run Time'] = Run_time
Series['Ratings'] = Ratings
Series['Votes'] = Votes
Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,827"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,679"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,421"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,499"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,449"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,918"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,079"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,898"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,138"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,707"

In [110]:
driver.close()

In [ ]:
#**********************************************************************************************************************

In [111]:
#8. Details of Datasets from UCI machine learning repositories. 
#Url = https://archive.ics.uci.edu/ You have to find the following details: 
#A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

#Note: - from the home page you have to go to the Show All Dataset page through code. 

import selenium
import pandas as pd
from selenium import webdriver
from selenium .webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [112]:
#connecting to webdriver and fetching website
driver=webdriver.Chrome()
url= "https://archive.ics.uci.edu/"
driver.get(url)
driver.maximize_window()

In [113]:
view_dataset=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
view_dataset.click()

In [114]:
# fetching URLs to open the pages
urls = []          # empty list
for i in range(0,2):      # for loop to scrape 3 pages
    page_url = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in page_url:
        urls.append(i.get_attribute("href"))
        next_btn = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')

In [115]:
urls

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/34/diabetes']

In [116]:
print(len(urls))

20

In [117]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')

    
    
    # scraping Task
    try:
        task = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')

    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')

    
    
    # scraping No of Instances
    try:
        instances = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    
    # scraping Year
    try:
        year = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [118]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attributes),len(Year))

20 20 20 20 20 20 20

In [119]:
# creating dataframe for scraped data
Machine_learning = pd.DataFrame({})
Machine_learning['Data Name'] = Dataset_name 
Machine_learning['Data Type '] = Data_type
Machine_learning['Task '] = Task 
Machine_learning['Attribute Type '] = Attribute_type 
Machine_learning['No of Instance '] = No_of_instances
Machine_learning['No of Attributes '] = No_of_attributes 
Machine_learning['Year '] = Year 
Machine_learning

,Data Name,Data Type,Task,Attribute Type,No of Instance,No of Attributes,Year
0,Iris,Tabular,Classification,Real,150,4,Dona
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Dona
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Dona
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Dona
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Dona
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Dona
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Dona
7,Wine,Tabular,Classification,"Integer, Real",178,13,Dona
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Dona
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-
10,Iris,Tabular,Classification,Real,150,4,Dona
11,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Dona
12,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Dona
13,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Dona
14,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Dona
15,Raisin,Multivariate,Classification,"Real, Integer",900,7,Dona
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Dona
17,Wine,Tabular,Classification,"Integer, Real",178,13,Dona
18,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Dona
19,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-

In [120]:
driver.close()