In [1]:
#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
#Car name and Price) from https://www.motor1.com/

#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [2]:
#lets connect with web driver
driver = webdriver.Chrome()

In [3]:
#opening website
driver.get('https://www.motor1.com/')

In [7]:
title=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
title.send_keys('50 most expensive cars')

In [8]:
search=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [10]:
search1=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search1.click()

In [18]:


#lets scrape quote
Car_name = []
Price = []


for i in range(3):
    car_n = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
    for i in car_n:Car_name.append(i.text)
    
    price = driver.find_elements(By.XPATH,'//h3[@class="subheader"]/span') #not able to acess child class.
    for i in price:Price.append(i.text)    
    
        
time.sleep(2)

In [20]:
#lets  make dataframe from the scraped data

df = pd.DataFrame({'Car_name': Car_name})

df

                               Car_name
0                   Aston Martin Valour
1                          McLaren Elva
2                           Czinger 21C
3                         Ferrari Monza
4                    Gordon Murray T.33
..                                  ...
148                Rolls-Royce Sweptail
149            Bugatti La Voiture Noire
150              Rolls-Royce Boat Tail*
151  Rolls-Royce La Rose Noire Droptail
152    Most Expensive Cars In The World

[153 rows x 1 columns]