In [1]:
#Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#    You have to use the location and salary filter.
#    You have to scrape data for “Data Scientist” designation for first 10 job results.
#    You have to scrape the job-title, job-location, company name, experience required. 
#    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [2]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [3]:
#connect to the web driver
driver = webdriver.Chrome()

In [4]:
#let's get website
driver.get("https:www.shine.com/")

In [5]:
#2. Let's enter “Data Scientist” in “Skill, Designations, and Companies” field.

job_title=driver.find_element(By.CLASS_NAME,"form-control  ")
job_title.send_keys('Data Scientist')

In [6]:
# 3. Then click the search button.
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [7]:
click_loc=driver.find_element(By.XPATH,'//button[@class="filter_filterBtn__FAqUy btn btn-outline-grey font-size-xs "]')

click_loc.click()

In [8]:
select_delhi=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[13]/span/label')
select_delhi.click()

In [9]:
click_sal=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/ul/li[3]')
click_sal.click()

In [10]:
select_range=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
select_range.click()

In [11]:
show_result=driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
show_result.click()

In [12]:
#let's extract Job titles

title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title[0:10]

job_title = []

for i in title[0:10]:
    job_title.append(i.text)
    
job_title

['Data Scientist Urgent Vacancy',
 'Data Analyst Opening',
 'Qa Automation Engineer Opening',
 'Machine Learning Engineer Urgent Vacancy',
 'QA Tester Requirement Fresher and Experience',
 'Hiring For Medical Billing',
 'Funding coordinator',
 'Cost manager',
 'Cost analyst']

In [13]:
#lets extract the job_location

location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

location[0:10]
job_location = []

for i in location[0:10]:
    job_location.append(i.text)
    
job_location

['Other Gujarat\n+14',
 'Other Gujarat\n+14',
 'Other Gujarat\n+14',
 'Other Gujarat\n+13',
 'Other Gujarat\n+14',
 'Other Gujarat\n+14',
 'Other Gujarat\n+10',
 'Other Gujarat\n+9',
 'Other Gujarat\n+9']

In [14]:
#lets extract company name

company =driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

company[0:10]
company_name = []

for i in company[0:10]:
    company_name.append(i.text)
    
company_name

['yogita staffing solution',
 'yogita staffing solution',
 'yogita staffing solution',
 'yogita staffing solution',
 'yogita staffing solution',
 'renuka interprises',
 'envicare technologies private limit...',
 'envicare technologies private limit...',
 'envicare technologies private limit...']

In [15]:
#Lets extract experience year

experience = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience[0:10]

experience_req = []

for i in experience[0:10]:
    experience_req.append(i.text)
    
experience_req

['0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 3 Yrs',
 '0 to 4 Yrs',
 '1 to 6 Yrs',
 '1 to 6 Yrs',
 '1 to 6 Yrs']

In [16]:
#lets make dataframe for this scrached data

df = pd.DataFrame({'Job_title':job_title,'Company_name':company_name,'Job_location':job_location,'Experience_required':experience_req})

df

,Job_title,Company_name,Job_location,Experience_required
0,Data Scientist Urgent Vacancy,yogita staffing solution,Other Gujarat\n+14,0 to 3 Yrs
1,Data Analyst Opening,yogita staffing solution,Other Gujarat\n+14,0 to 3 Yrs
2,Qa Automation Engineer Opening,yogita staffing solution,Other Gujarat\n+14,0 to 3 Yrs
3,Machine Learning Engineer Urgent Vacancy,yogita staffing solution,Other Gujarat\n+13,0 to 3 Yrs
4,QA Tester Requirement Fresher and Experience,yogita staffing solution,Other Gujarat\n+14,0 to 3 Yrs
5,Hiring For Medical Billing,renuka interprises,Other Gujarat\n+14,0 to 4 Yrs
6,Funding coordinator,envicare technologies private limit...,Other Gujarat\n+10,1 to 6 Yrs
7,Cost manager,envicare technologies private limit...,Other Gujarat\n+9,1 to 6 Yrs
8,Cost analyst,envicare technologies private limit...,Other Gujarat\n+9,1 to 6 Yrs