In [1]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” inthe
#search field.

#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [2]:
#lets connect with web driver
driver = webdriver.Chrome()

In [3]:
#onpening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [4]:
#search the “sunglasses” and click search button 

search_product = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_product.send_keys('sneakers')

In [5]:
#click on the search button

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [6]:
Brand = []
Product_Description = []
Price= []


for i in range(3):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:Price.append(i.text)
    
time.sleep(3)
        
nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #scraping the list of buttons from the page
nxt_button.click()

In [7]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [8]:
#lets  make dataframe from the scraped data

df = pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})

df

           Brand Product_Description   Price
0    kardam&sons         kardam&sons    ₹333
1           aadi                aadi    ₹349
2      Deals4you           Deals4you    ₹418
3       URBANBOX            URBANBOX    ₹299
4       RED TAPE            RED TAPE  ₹1,709
..           ...                 ...     ...
115     Shoe Lab            Shoe Lab    ₹399
116       BRUTON              BRUTON    ₹380
117         ATOM                ATOM  ₹1,339
118     WOODLAND            WOODLAND  ₹1,639
119         PUMA                PUMA  ₹2,149

[120 rows x 3 columns]